.timerQuize {
    background: linear-gradient(to bottom right, #535f72 0%, #939393 100%);
    color: #fff;
    padding: 5px 10px 0px 10px;
    border-radius: 10px;
}

.que-img {
    width: 50%;
    margin: 0 auto;
}

.opt-img {
    width: 230px;
    height: 145px;
    margin: 0 auto;
}

.fu-bg-info {
    background-color: #d9edf7;
}

.fu-bg-success {
    background-color: #dff0d8;
}

.fu-bg-warning {
    background-color: #fcf8e3;
}

.fu-bg-danger {
    background-color: #f2dede;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #0000;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}